body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {	
	font-family: 'Oswald', sans-serif;

}

header {
	height: 92px;
	border-bottom: solid rgb(241, 157, 12);
	background: #ffffff;
}

/*styling for header content*/
div#top {
	width: 960px;
	height: 88px;
	margin: auto;
	position: relative;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	font-family: Georgia;
	color: black;
	width: 100%;
	text-align: left;
	padding: 32px;
	background: #dddddd;
}

/*styling for nav bar*/
nav {
	width: 50%;
	text-align: right;
	position: absolute;
	top: 32px;
	right: 0;
}

a.link1 {
	font-size: 16px;
	font-family: Helvetica;
	color: #777777;
	padding-left: 20px;
	text-decoration: none;
	padding-right: 20px;
	border-right: 1px solid #cccccc;
}

a.link2 {
	font-size: 16px;
	font-family: Helvetica;
	color: #777777;
	padding-left: 20px;
	text-decoration: none;
	padding-right: 20px;
	border-right: 1px solid #cccccc;
}

a.link3 {
	font-size: 16px;
	font-family: Helvetica;
	color: #777777;
	padding-left: 20px;
	text-decoration: none;
	padding-right: 20px;
	border-right: 1px solid #cccccc;
}
/*wrapper for content area*/
#wrapper {
	width: 960px;
	margin: 35px auto;
	position: relative;
}

/*h2 styling details for About, Portfolio & Contact sections*/
h2 {
	font-size: 24px;  
	font-family: Georgia;
	font-weight: bold;
	color: black;
	margin: 42px 32px 30px 32px;
	padding-bottom: 35px;
	border-bottom: solid 3px#dddddd;
}

section#content {
	width: 650px;
	border: solid 2px #dddddd;
	background: #dddddd;
}
/*styling for About content section*/
#content p {
	font-size: 16px;
	font-family: Helvetica;
	line-height: 36px;
	color: #777777;
 	margin: -10px 32px 42px 32px;
}

#photo {
	width: 250px;
	height: auto;
	float: left;
	margin: 0 26px 0px 32px;
}

/*PORTFOLIO SECTION- STYLING/DESIGN*/
	

div.image{
	margin: 0 auto;
	padding: 10px;
	position: relative;
	display: inline-block;
}




/*CONTENT SECTION- DESIGN/STYLING*/
label {
	font-size: 18px;
	font-family: Helvetica;
	font-weight: bold;
	color: #777777;
}

input {
	font-family: Helvetica;
	color: #cccccc;
	width: 100%;
	display: block;
	border: solid 1.5px #dddddd;
}

textarea {
	font-family: Helvetica;
	color: #cccccc;
	width: 100%;
	display: block;
	border: solid 1.5px #dddddd;
}

input#submit {
	font-size: 18px;
	font-family: Helvetica;
	color: #ffffff;
	text-align: center;
	width: 116px;
	padding: 17px;
	border:black;
	background: rgb(241, 157, 12);
}

/*Styling for Connect with Me section*/
section#connect {
	width: 270px;
	border: solid 2px #dddddd;
	background: #ffffff;
	position: absolute;
	top: 0;
	right: 0;
}

#connect h3 {
	font-size: 24px;  
	font-family: Georgia;
	font-weight: bold;
	color:black;
	text-align: center;
	margin: 32px 31px 0px 31px;
	padding-bottom: 26px;
	border-bottom: solid 1px #dddddd;
}

div#logo {
	margin: 25px 27px 42px 29px;
}

.icon {
	width: 62px;
	height: 62px;
	padding-right: 6px;

}
/*Styling for footer*/
footer {
	font-size: 14px;
	font-family: sans-serif;
	color: #dddddd;
	text-align: center;
	padding: 32px;
	border-top: solid rgb(241, 157, 12);
	background: #666666;
	clear: both;
	
}